# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
backend/neuro.db
.env
backend/.env
venv/
.venv/
env/

# Editor & Logs
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
